<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Faxineiros</title>
</head>
<body>
    <h1>Lista de Faxineiros</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Gerente</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre a lista de faxineiros -->
            <tr th:each="faxineiro : ${faxineiros}">
                <td>
                    <!-- Link para os detalhes do faxineiro -->
                    <a th:href="@{'/faxineiro/' + ${faxineiro.cpf}}" th:text="${faxineiro.nome}"></a>
                </td>
                <td th:text="${faxineiro.faxineiroGerente != null ? faxineiro.faxineiroGerente : 'Sem Gerente'}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
